@charset "utf-8";

$family-sans-serif: Sarabun, NanumGothic, sans-serif;

$footer-padding: 1rem 1.5rem;

$section-padding: 1.2rem 1.5rem;
$section-padding-medium: 2.4rem 1.5rem;
$section-padding-large: 4.8rem 1.5rem;

@import "sass/utilities/_all.sass";
@import "sass/utilities/spacing.scss";
@import "sass/base/_all.sass";
@import "sass/elements/_all.sass";
@import "sass/form/_all.sass";
@import "sass/components/breadcrumb.sass";
@import "sass/components/card.sass";
@import "sass/components/dropdown.sass";
@import "sass/components/level.sass";
@import "sass/components/list.sass";
@import "sass/components/media.sass";
@import "sass/components/menu.sass";
@import "sass/components/message.sass";
@import "sass/components/modal.sass";
@import "sass/components/navbar.sass";
@import "sass/components/pagination.sass";
@import "sass/components/panel.sass";
@import "sass/components/tabs.sass";
@import "sass/grid/_all.sass";
@import "sass/layout/_all.sass";

